<script type="text/template" charset="utf-8" id="classmateMeeting-T">
<div class="titleBar">
    商务英语同学会
</div>
{{  var isHide = it.length ? "" : "hide";
    var isShow = it.length ? "hide" : "";
}}
<div class="inner empty {{= isShow}}">
    <i class="icon-emptyTalk icon"></i>
    <p>这里有点安静</p>
    <p>赶快来发言，勾搭学习小伙伴！</p>
    <a href="" class="btn">我要发言</a>
</div>
<div class="inner {{= isHide}}">
    <ul class="list">
        {{ for(var i=0, len = it.length; i < len; i++){ }}
            var reviewTag = it[i].reviewType === "置顶" ? "top" : 
                            it[i].reviewType === "精华" ? "excellent":
                            "";
        <li class="item">
            <div class="fl title">
                {{ ? it[i].reviewType===""}}
                <span class="badge {{= reviewTag}}">{{= it[i].reviewType}}</span>
                {{ ? }}
                <a href="">{{= it[i].detail}}</a>
            </div>
            <div class="fr">
                <i class="icon icon-speak"></i><span class="text">{{= it[i].thumbUp}}</span>
                <i class="icon icon-praise"></i><span class="text">{{= it[i].review}}</span>
            </div>
        </li>
        {{ } }}
    </ul>
</div>
<div class="more"><a href="">查看更多</a></div>

</script>