<script type="text/template" charset="utf-8" id="finshHandle-T">
    {{? it.classStatus == 'closed'}}
    <div class="titleBar">在这个班级，你还可以：</div>
    <div class="inner">
        <ul class="list">
            <li class="item">
                <a href="">
                    <div class="fl">
                        <i class="icon-fnote icon"></i>
                    </div>
                    <div class="text">回顾笔记</div>
                    <p class="subText">我的笔记：19</p>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <div class="fl">
                        <i class="icon-fhomework icon"></i>
                    </div>
                    <div class="text">查看作业</div>
                    <p class="subText">我的作业：19/52</p>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <div class="fl">
                        <i class="icon-fci icon"></i>
                    </div>
                    <div class="text">背单词</div>
                    <p class="subText">通关进度：19/36</p>
                </a>
            </li>
            <li class="item down">
                <a href="">
                    <div class="fl">
                        <i class="icon-faq icon"></i>
                    </div>
                    <div class="text">查看答疑</div>
                </a>
            </li>
            <li class="item down">
                <a href="">
                    <div class="fl">
                        <i class="icon-fdownload icon"></i>
                    </div>
                    <div class="text">下载资料</div>
                </a>
            </li>
            <li class="item down">
                <a href="">
                    <div class="fl">
                        <i class="icon-fcommit icon"></i>
                    </div>
                    <div class="text">交流讨论</div>
                </a>
            </li>
        </ul>
        <div class="more"><a href=""><i class="icon-plus icon"></i>我要学习更多课程</a></div>
    </div>
    {{?}}
</script>
