<script type="text/template" charset="utf-8" id="guidNew-T">
    {{?it }}
    <style>
        html {
            overflow: hidden;
        }

    </style>
    {{?it.step==0}}
    <div class="guid guidNew">
        <div class="inner guidNew0">
            <div class="close" id="close"><i class="icon-closeCicle"></i></div>
            <div class="content">
                Hi,hwieuhw～
                <br> 沪江网校班级首页
                <span class="orange-text">全新改版</span>啦！
                <br> 邀请你一起体验一下新功能！
            </div>
            <div class="btn"><span class="text">继续</span><i class="icon icon-arrowr"></i></div>
        </div>
    </div>
    {{??it.step==1}}
    <div class="guid guidNew">
        <div class="inner guidNew1">
            <div class="close" id="close"><i class="icon-closeCicle"></i></div>
            <div class="content">和同桌PK<span class="orange-text">学习进度</span>，还有机会成为学霸哦！</div>
            <div class="btn"><span class="text">继续</span><i class="icon icon-arrowr"></i></div>
        </div>
    </div>
    {{??it.step==2}}
    <div class="guid guidNew">
        <div class="inner guidNew2">
            <div class="close" id="close"><i class="icon-closeCicle"></i></div>
            <div class="content">学习任务支持<span class="orange-text">一键听课</span>，还能找到一起学习的伙伴！</div>
            <div class="btn"><span class="text">继续</span><i class="icon icon-arrowr"></i></div>
        </div>
    </div>
    {{??it.step==3}}
    <div class="guid guidNew">
        <div class="inner guidNew3">
            <div class="close" id="close"><i class="icon-closeCicle"></i></div>
            <div class="content">看大家都在<span class="orange-text">聊什么问什么</span>，互帮互助进步快，学习路上不孤单！</div>
            <div class="btn"><span class="text">继续</span><i class="icon icon-arrowr"></i></div>
        </div>
    </div>
    {{??it.step==4}}
    <div class="guid guidNew">
        <div class="inner guidNew0 guidNew4">
            <div class="close" id="close"><i class="icon-closeCicle"></i></div>
            <div class="content"><span class="f24">新版网校班级首页</span>
                <br>更高效，更趣味，更个性</div>
            <div class="btn"><span class="text">立即体验</span></div>
            <p class="extend"><a class="text">了解更多新版功能</a><i class="icon-arrowrlit"></i></p>
        </div>
    </div>
    {{?}} {{?}}
</script>
