<script type="text/template" charset="utf-8" id="notice-T">
    <div class="titleBar clearfix">
        <div class="fl">公告板</div>
        <div class="fr small">{{?it.isEnsurePass && it.signedPassAgreement}}<a href="{{=it.agreementUrl}}">查看协议</a>{{?}}{{?it.hasBook}}&nbsp;/&nbsp;<a class="getBook" href="{{=it.bookUrl}}"><span class="text">领取赠书</span>{{? !it.bookUrlClicked}}<span class="dot"></span>{{?}}</a>{{?}}
        </div>
    </div>
    <ul class="list">
        <li class="item"><a href="">新生报到</a></li>
        <li class="item"><a href="">新生熟悉班级的学习必看说明新生熟悉班级的学习必看说明新生熟悉班级的学习必看说明新生熟悉班级的学习必看说明</a></li>
        <li class="item"><a href="">新生报到</a></li>
        <li class="item"><a href="">新生熟悉班级的学习必看说明</a></li>
    </ul>
</script>
