<script type="text/template" charset="utf-8" id="task-T">
    <div class="slideBtn"></div>
    <div class="titleBar">
        <div class="fl">学习任务</div>
        <div class="fr">
            <a class="icon-calendar"></a>
        </div>
    </div>
    <div class="upper">
        <ul class="list">
            <li class="item">
                <div class="fl info">
                    <i class="icon icon-canLearn"></i><span class="className">流利法语1V8</span><span class="teacher">老师:Aline</span><span class="time">5月10日17:00-18:00</span>
                </div>
                <div class="fr">
                    <a class="btn-Classroom" href="">进教室</a>
                </div>
            </li>
            <li class="item">
                <div class="fl info"><i class="icon icon-canOrder"></i>您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课</div>
                <div class="fr">
                    <a class="btn-order" href="">我要预约</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="down">
        <ul class="list">

            <li class="item">
                <div class="fl info"><i class="icon icon-learning"></i>您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课</div>
                <div class="fr">
                    <a class="btn-order" href="">我要预约</a>
                </div>
            </li>



            <li class="item">
                <div class="fl info"><i class="icon icon-completed"></i>您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课</div>
                <div class="fr">
                    <a class="btn-order" href="">我要预约</a>
                </div>
            </li>

            <li class="item">
                <div class="fl info"><i class="icon icon-locked"></i>您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课</div>
                <div class="fr">
                    <a class="btn-order" href="">我要预约</a>
                </div>
            </li>
            <li class="item">
                <div class="fl info"><i class="icon icon-locked"></i>您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课您还有可以预约的直播课</div>
                <div class="fr">
                    <a class="btn-order" href="">我要预约</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="moreLessons"><a href="">查看全部课程</a></div>
</script>
