.icon-sprite, .icon-add, .icon-apple {
  background-image: url('../images/../images/icon-s9960232baf.png');
  background-repeat: no-repeat;
}

.icon-add {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-position: 0 0;
}

.icon-apple {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-position: 0 -12px;
}
